<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A561</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Terminal</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>term_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.terminal.session</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>terminal_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal settings</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.terminal.settings</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>command_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal shell script</string>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.terminal.shell-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
				<string>com.apple.bundle</string>
				<string>com.apple.resolvable</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Terminal</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Terminal.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Terminal.help</string>
	<key>CFBundleIconFile</key>
	<string>Terminal</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Terminal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Terminal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>telnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ssh URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>x-man-page URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-man-page</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>326</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A561</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1991-2013 Apple Inc. All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TTApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Terminal at Folder</string>
			</dict>
			<key>NSMessage</key>
			<string>newTerminalAtFolder</string>
			<key>NSPortName</key>
			<string>Terminal</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>com.apple.resolvable</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Terminal Tab at Folder</string>
			</dict>
			<key>NSMessage</key>
			<string>newTerminalAtFolder</string>
			<key>NSPortName</key>
			<string>Terminal</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>com.apple.resolvable</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSUserData</key>
			<string>New Tab</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>M</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open man Page in Terminal</string>
			</dict>
			<key>NSMessage</key>
			<string>openManPage</string>
			<key>NSPortName</key>
			<string>Terminal</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSWordLimit</key>
				<integer>20</integer>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>A</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Search man Page Index in Terminal</string>
			</dict>
			<key>NSMessage</key>
			<string>searchManPages</string>
			<key>NSPortName</key>
			<string>Terminal</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSWordLimit</key>
				<integer>20</integer>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
	<key>OSAScriptingDefinition</key>
	<string>Terminal.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.shell-script</string>
			<key>UTTypeDescription</key>
			<string>Terminal shell script</string>
			<key>UTTypeIconFile</key>
			<string>command_icon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.terminal.shell-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>command</string>
					<string>tool</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Terminal session</string>
			<key>UTTypeIconFile</key>
			<string>term_icon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.terminal.session</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>term</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Terminal settings</string>
			<key>UTTypeIconFile</key>
			<string>terminal_icon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.terminal.settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>terminal</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSUIPresentationMode</key> 
	<integer>4</integer>
</dict>
</plist>
